
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 20%;
  // right: 0.5%;
  width: 50%;
  position: relative;
  // NEW CODE
  border-radius: 45px;
  background: linear-gradient(145deg, #226252, #3f8d7a);
  box-shadow: 8px 8px 15px #466e63, -8px -8px 15px #ccffff;
  padding: 50px;
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  span {
    color: #333;
    font-size: 1rem;
    margin-bottom: 2rem;
    // NEW CODE
    // text-align: center;
    margin-right: 10px;
    margin-top: 1.4rem;
  }

  input {
    width: 100%;
    max-width: 350px;
    font-size: 1rem;
    padding: 0.8rem 0.5rem;
    background: #ececec;
    margin-bottom: 1rem;
    border-radius: 5px;
  }

  button {
    cursor: pointer;
    transition: all ease-in-out 300ms;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    &:hover {
      color: whitesmoke;
      background: #333;
    }
  }
}

.registerForm {
  margin-top: 5rem;
}

// NEW CODE
.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  padding: 20px 10px 10px 10px;
  margin: 20px;
  border: solid 2px black;
  border-radius: 5px;
  background-color: #a1dfcf;
}
