@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.progress {
	background-color: #d8d8d8;
/* 	border-radius: 20px; */
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 250px;
	display: flex;
/* 	align-items: center; */

}

.progress_done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
/* 	border-radius: 20px; */
	color: #fff;
	display: flex;
	align-items: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

.progress_res{
	position:relative;
	top:100%;
	left:-10px;
	margin-top:5px;
}