@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.progress {
  background-color: #d8d8d8;
  /* 	border-radius: 20px; */
  position: relative;
  margin: 15px 0;
  height: 30px;
  width: 250px;
  
  /* 	align-items: center; */
}

.progress_done {
  background: linear-gradient(to left, #43a28a, #92d4c2);
  box-shadow: 0 3px 3px -5px #43a28a, 0 2px 5px #43a28a;
  /* 	border-radius: 20px; */
  color: #fff;
  display: flex;
  align-items: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.progress_res {
  position: relative;

  top: 10%;
  // left: 76%;
  margin-top: 5px;
}
